<html>
<head>
  <title>[% title %]</title>
  <link rel="stylesheet" type="text/css" href="/style.css" /> 
  <meta name="description" content="[% description %]" />
  <meta name="keywords" content="[% meta.keywords %]" />
</head>
<body>
<div id="body">
<div id="menu">
<ul>
  <li><a href="/">CPAN::Digger</a></li>
  <li><a href="/news.html">News</a></li>
  <li><a href="/faq.html">FAQ</a></li>
  <li><a href="/licenses.html">Licenses</a></li>
</ul>
</div>
