body {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 14px;
 font-weight: normal;
 margin: 0px;
 padding: 0px;
}

#dependencies {
  font-size: 12px;
  
}
#dependencies li {
  display:   inline;
}

#special_files li {
  display:   inline;
}

#content {
  float: left;
  width: 700px;
/*  background-color: yellow; */
}

#right_column {
  float: right;
  width: 300px;
/*  background-color: red; */
}

/* syntax highlighting */
#code a {
  text-decoration: none;
}

.keyword {
  color: green;
}

/*
.keyword a:hover {
  color: yellow;
}
*/

.Whitespace {
}

.Word {
  color: #2323223;
}
.pragma {
}
.Single {
}
.Float {
}
.Symbol {
}
.Operator {
}
.Structure {
}

.Pod {
  color: grey;
}

.Comment {
  color: grey;
}
