    </div> <!-- content -->

    <div id="right_column">
    [% INCLUDE incl/right_column.tt %]
    </div>

  </div> <!-- page -->

  <div id="elapsed_time">
    [% IF elapsed_time %]
    Elapsed time [% elapsed_time %]
    [% END %]
  </div>

</div> <!-- body -->
</body>
</html>
