[%
   title="Licenses"
   description=""
%]
[% INCLUDE incl/header.tt %]
[% INCLUDE incl/form.tt %]

<div id="licenses">
<ul>
[% FOR license IN licenses %]
  <li><a href="/q?license=[% license %]">[% license %]</a></li>
[% END %]
</ul>
</div>

[% INCLUDE incl/footer.tt %]
